{% extends 'tmap/base_full_width.html' %}
{% block main_area %}
{% load crispy_forms_tags %}
<div align="center">
    <h2>ZoneList Update</h2>
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
        <table>


            {{ form.name|as_crispy_field }}
            <p><strong>권역 분류 (type) 입력 참고 사항></strong></p>
            <p>1. 시,도 2. 시,군,구 3. 법정동 4. 행정동</p>
            {{ form.type|as_crispy_field }}

        </table>
        <button type="submit" class="btn btn-success float-right">Submit</button>
    </form>
</div>

{% endblock %}