{% extends 'tmap/base_full_width.html' %}

{% block head_title %}Create Order - Tmap{% endblock %}

{% block main_area %}
<style>
#option label {
  display: inline-block;
  width: 100px;
  font-weight: bold;
}
#option input[type="text"] {
  width: 200px;
  padding: 5px;
  margin-bottom: 10px;
}



</style>


<h1>Create New Dispatch</h1>
<hr/>
{% load crispy_forms_tags %}
<form method="post" enctype="multipart/form-data">{% csrf_token %}
    <table>

        <div class="radio-group">
            <label><h2>배차 방식 선택</h2></label>
            <div class="row">
                <div class="col">
                    <label>기존 입력 데이터 기반 배차</label>
                    <input type="radio" id="1" value="1" name="allocation_type">
                </div>
                <div class="col">
                    <label>차량 - 배송지 직접 선택 배차</label>
                    <input type="radio" id="2" value="2" name="allocation_type">
                </div>
            </div>
        </div>
        <div class="row">
            <div>
            <label>배송지 직접 입력</label>
            <input class="text" id="orderListId" name="orderListId">
                </div>
            <p>&nbsp | &nbsp</p>
            <div>
            <label>차량 직접 입력</label>
            <input class="text" id="vehicleListId" name="vehicleListId">
        </div>
            </div>
        <p>< 시작시간(StartTime) 입력 시 "0000" 형식으로 입력해주세요. 예시) 13시 10분 -> 1310 ></p>
        {{ form.startTime|as_crispy_field }}


        <br>
        <hr>
        <br>
        <button type="button" onclick="showForm()">추가 옵션</button>
        <br><br>
        <div id="option" style="display:none;">

            <label>배차 옵션 </label>

            <select id="option_type" name="option_type">
                <option value="1">무게균등</option>
                <option value="2">부피균등</option>
                <option value="3">배송지 건수 균등</option>

            </select>
            <br>

            <label>거리 / 시간 옵션 </label>
            <select id="equalization_type" name="equalization_type">
                <option value="1">옵션설정안함</option>
                <option value="2">거리 균등</option>
                <option value="3">시간 균등</option>

            </select>

            <br>


            <p># 참고</p>
            <p>배차 옵션 : 1. 무게균등 / 2. 부피균등 / 3. 배송지 건수 균등</p>
            <p>거리 / 시간 옵션 : 1. 옵션설정안함 / 2. 거리 균등 / 3. 시간 균등</p>

        </div>

    </table>

    <button type="submit" class="btn btn-success float-right">Submit</button>
</form>

<script>
function showForm() {
  var form = document.getElementById("option");
  form.style.display = "block";
}



</script>

{% endblock %}
