{% extends 'tmap/base_full_width.html' %}
{% block main_area %}
{% for v in vehicleList_list %}

<div class="card mb-4">
    <div class="container">
        <h2>차량 번호 : {{ v.vehicleId }} </h2>
        <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
        <div class="card-body">
            <p class="card-title">{{ v.vehicleId }}</p>
            <p class="card-text">{{ v.vehicleName }}</p>
            <p class="card-text">{{ v.weight }}</p>
             <p class="card-text">{{ v.vehicleType }}</p>
             <p class="card-text">{{ v.zoneCode }}</p>
             <p class="card-text">{{ v.skillPer }}</p>
             <p class="card-text">{{ v.volume }}</p>
            <div>
                <a role="button"
                   class="btn btn-sm btn-info float-right"
                   id="vehicleList-{{ v.pk }}-update-btn_200"
                   href="/tmap/vehicle/update/{{ v.pk }}">
                    수정
                </a> <a role="button"
                        href="/tmap/vehicle/delete/{{ v.pk }}"
                        id="vehicleList-{{ v.pk }}-delete-modal-btn_200"
                        class="btn btn-sm btn-danger float-right">

                삭제
            </a>
            </div>

        </div>
    </div>


</div>

{% endfor %}
{% endblock %}