{% extends 'tmap/base_full_width.html' %}
{% block main_area %}
<div class="d-sm-flex align-items-center justify-content-between mb-4" style="height:50px;">
    <a href="/tmap/vehicle/insert/" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm" style="flex:1;"><i
            class="fas fa-truck fa-sm text-white-50"></i>차량 추가</a>
</div>
{% for v in vehicleList_list %}

<div class="card mb-4">
    <div class="container">
        <h2>차량 번호 : {{ v.vehicleId }} </h2>
        <div class="row">
            <img class="img-fluid" src="{{ v.vehicleType.image.url }}" alt="Card image cap">
            <div class="card-body">
                <p class="card-text"><b>차량 이름 : {{ v.vehicleName }}</b></p>
                <p class="card-text">차량 종류 : {{ v.vehicleType.name }}</p>
                <p class="card-text">적재 중량 : {{ v.vehicleType.weight }}</p>
                <p class="card-text">적재 부피 : {{ v.vehicleType.volume }}</p>
                <p class="card-text">권역 : {{ v.zoneCode }}</p>
                <p class="card-text">숙련도 : {{ v.skillPer }}</p>

            </div>
        </div>
        <div>
            <a role="button"
               class="btn btn-sm btn-info float-right mb-3"
               id="vehicleList-{{ v.pk }}-update-btn_200"
               href="/tmap/vehicle/update/{{ v.pk }}">
                수정
            </a> <a role="button"
                    href="/tmap/vehicle/delete/{{ v.pk }}"
                    id="vehicleList-{{ v.pk }}-delete-modal-btn_200"
                    class="btn btn-sm btn-danger float-right mb-3">

            삭제
        </a>
        </div>

    </div>
</div>


{% endfor %}
{% endblock %}