{% extends 'tmap/base_full_width.html' %}
{% block main_area %}
<div class="d-sm-flex align-items-center justify-content-between mb-4" style="height:50px;">
    <a href="/tmap/order/insert/" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm" style="flex:1;"><i
            class="fas fa-dolly fa-sm text-white-50"></i>배송지 추가</a>
</div>


    <script type="text/javascript" src="https://apis.openapi.sk.com/tmap/jsv2?version=1&appKey=lnmQwO8Vzy3E1WkBTNCUv9JWkUEwMQxF4wsCcRjx"></script>

    <div id="map_div" style="width:100%;height:500px;"></div>
    <script type="text/javascript">
        // T Map API를 사용하여 지도를 생성합니다.
        const map = new Tmapv2.Map("map_div", {
            center: new Tmapv2.LatLng(37.5666091, 126.978371),
            zoom: 12,
            zoomControl: true,
            scrollwheel: true,
            draggable: true,
            mapTypeControl: true,

        });

        // Django 뷰 함수를 호출하여 반환된 JSON 데이터를 가져옵니다.
        fetch('/tmap/get_marker_data/')
            .then(response => response.json())
            .then(data => {
                // JSON 데이터를 기반으로 T Map API에서 마커를 추가합니다.
                const markers = [];
                for (const markerData of data.marker_data) {
                    const marker = new Tmapv2.Marker({
                        position: eval(markerData.position),
                        icon: markerData.icon,
                        iconSize: eval(markerData.iconSize),
                        map: map,
                    });
                    markers.push(marker);
                }
                console.log(markers);
                // 추가된 마커를 지도 영역에 맞게 조정합니다.
                if (markers.length > 0) {
                    const bounds = new Tmapv2.LatLngBounds();
                    for (const marker of markers) {
                        bounds.extend(marker.getPosition());
                    }
                    map.fitBounds(bounds);
                }
            })
            .catch(error => console.error(error));
    </script>

<hr>
{% for o in orderList_list %}

<div class="card mb-4">
    <div class="container">
        <h2>배송지 번호 : {{ o.orderId }} </h2>
        <div class="card-body">
            <p class="card-text"><b>배송지 이름 : {{ o.orderName }}</b></p>
            <p class="card-text">배송지 주소 : {{ o.geo }}</p>
              <p class="card-text">배송지 배달 중량 : {{ o.deliveryWeight }}</p>
            <p class="card-text">권역 : {{ o.zoneCode }}</p>
             {% if o.deliverVolume != null %}
             <p class="card-text">배송지 배달 부피 : {{ o.deliveryVolume }}</p>
            {% endif %}
            {% if o.serviceTime != 0 %}
            <p class="card-text">예상 시간 : {{ o.serviceTime }}</p>
            {% endif %}

            <div>
                <a role="button"
                   class="btn btn-sm btn-info float-right mb-3"
                   id="orderList-{{ o.pk }}-update-btn_200"
                   href="/tmap/order/update/{{ o.pk }}">
                    수정
                </a> <a role="button"
                        href="/tmap/order/delete/{{ o.pk }}"
                        id="orderList-{{ o.pk }}-delete-modal-btn_200"
                        class="btn btn-sm btn-danger float-right mb-3">

                삭제
            </a>
            </div>

        </div>
    </div>


</div>

{% endfor %}
{% endblock %}