<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Map</title>
    <script type="text/javascript" src="https://apis.openapi.sk.com/tmap/jsv2?version=1&appKey=lnmQwO8Vzy3E1WkBTNCUv9JWkUEwMQxF4wsCcRjx"></script>

</head>
<body>
    <div id="map_div" style="width:100%;height:500px;"></div>
    <script type="text/javascript">
        // T Map API를 사용하여 지도를 생성합니다.
        const map = new Tmapv2.Map("map_div", {
            center: new Tmapv2.LatLng(37.5666091, 126.978371),
            zoom: 12,
            zoomControl: true,
            scrollwheel: true,
            draggable: true,
            mapTypeControl: true,

        });

        // Django 뷰 함수를 호출하여 반환된 JSON 데이터를 가져옵니다.
        fetch('/tmap/get_marker_data/')
            .then(response => response.json())
            .then(data => {
                // JSON 데이터를 기반으로 T Map API에서 마커를 추가합니다.
                const markers = [];
                for (const markerData of data.marker_data) {
                    const marker = new Tmapv2.Marker({
                        position: eval(markerData.position),
                        icon: markerData.icon,
                        iconSize: eval(markerData.iconSize),
                        map: map,
                    });
                    markers.push(marker);
                }
                console.log(markers);
                // 추가된 마커를 지도 영역에 맞게 조정합니다.
                if (markers.length > 0) {
                    const bounds = new Tmapv2.LatLngBounds();
                    for (const marker of markers) {
                        bounds.extend(marker.getPosition());
                    }
                    map.fitBounds(bounds);
                }
            })
            .catch(error => console.error(error));
    </script>
</body>
</html>
