{% extends 'tmap/base_full_width.html' %}
{% block main_area %}
{% for c in centerList_list %}

<div class="card mb-4">
    {% if c.flag == "200" %}
    <div class="container">
        <h2>현재 선택된 센터</h2>
        <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
        <div class="card-body">
            <p class="card-title">{{ c.centerId }}</p>
            <p class="card-text">{{ c.centerName }}</p>
            <p class="card-text">{{ c.geo }}</p>
            <div>
                <a role="button"
                   class="btn btn-sm btn-info float-right"
                   id="centerList-{{ c.pk }}-update-btn_200"
                   href="/tmap/center/update/{{ c.pk }}/">
                    수정
                </a> <a role="button"
                        href="/tmap/center/delete/{{ c.pk }}"
                        id="comment-{{ c.pk }}-delete-modal-btn_200"
                        class="btn btn-sm btn-danger float-right">

                삭제
            </a>
            </div>

        </div>
    </div>
    {% endif %}
    {% if c.flag == "4003" %}
    <div class="container">
        <h2>입력된 센터</h2>
        <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
        <div class="card-body">
            <p class="card-title">{{ c.centerId }}</p>
            <p class="card-text">{{ c.centerName }}</p>
            <p class="card-text">{{ c.geo }}</p>
            <div>
            <a role="button"
               class="btn btn-sm btn-info float-right"
               id="centerList-{{ c.pk }}-update-btn_4003"
               href="/tmap/center/update/{{ c.pk }}/">
                수정
            </a> <a role="button"
                    href="/tmap/center/delete/{{ c.pk }}"
                    id="comment-{{ c.pk }}-delete-modal-btn_4003"
                    class="btn btn-sm btn-danger float-right">

            삭제
        </a>
        </div>
        </div>
    </div>
    {% endif %}
</div>

{% endfor %}
{% endblock %}