{% extends 'tmap/base_full_width.html' %}
{% block main_area %}
{% load crispy_forms_tags %}
<div align="center">
    <h2>CenterList Update</h2>
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
        <table>

            {{ form | crispy }}

        </table>
        <button class="btn btn-success float-right "><a href="/tmap/center/" class="text-white" style="flex:1;"><i
                class="fas fa-badge-check fa-sm text-white-50"></i>돌아가기</a></button>
        <button type="submit" class="btn btn-success float-right">Submit</button>
    </form>
</div>

{% endblock %}